.drawer{
    
    left: 0!important;
    top: 0!important;
    position: absolute!important;
    margin: 0!important;
    bottom: 0!important;
    height: 100%;
   
}
.drawer-dialog{
    
    left: 0!important;
    top: 0!important;
    position: absolute!important;
    margin: 0!important;
    bottom: 0!important;
    height: 100%;
    width: 100%;
   
}
.drawer-content{
    
    
    height: 100%!important;
    border-radius: 0!important;

}
@media (min-width: 576px){
.drawer-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
}
}